* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Bold Nerd Font Complete), url("/fonts/JetbrainsBold.woff2") format("woff2"), url("/fonts/JetbrainsBold.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Regular Nerd Font Complete), url("/fonts/JetbrainsRegular.woff2") format("woff2"), url("/fonts/JetbrainsRegular.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto-Regular), url("/fonts/Roboto-Regular.ttf") format("truetype");
}

:root[data-theme="light"] {
    --text: #1c1212;
    --textLowOpac: #1c121299;
    --background: #ededed;
    --secondary: #e2e2df;
    --static1: rgba(0,0,0,0.1);
}
:root[data-theme="dark"] {
    --text: #ede3e3;
    --textLowOpac: #ede3e399;
    --background: #101010;
    --secondary: #20201d;
    --static1: rgba(0,0,0,0.4);
}
:root {
    --primary: #ac4d4d;
    --accent: #4494e4;
    --static11: rgba(255,255,255,0.03);
    --white: #fff;
    --green: #71de74;

    --font-size--small: 14px;
    --font-size--default: 16px;
    --font-size--medium: 20px;
    --font-size--large: 24px;
    --font-size--large-heading: 39px;
    --font-size--large-heading-plus: 40px;

    --max-header-width: 1500px;
    --max-content-width: 1200px;
}

body {
    margin: 0;
    color: var(--text);
    font-family: 'Roboto';
    background-color: var(--secondary);
    --nav-height: 5em;

    display: grid;
    grid-template-rows: var(--nav-height) 1fr var(--nav-height);
    min-height: 100vh;
}

h1 {
    font-size: var(--font-size--large-heading-plus);
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
}
h2 {
    font-size: var(--font-size--large);
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
}
h3 {
    font-size: var(--font-size--medium);
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
}
p {
    font-size: var(--font-size--default);
}
input, button {
    font-size: var(--font-size--small);
}
hr {
    color: var(--text);
    opacity: .1;
}

nav {
    max-width: var(--max-header-width);
    width: 100%;
    margin: 0 auto;
}

.nav-content {
    height: var(--nav-height);
    padding: 1em 2em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
}


nav .menu-icons {
    height: 100%;
}

#menu-links {
    display: inline-flex;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
}

a, a:visited {
    color: var(--text);
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

.icon-button {
    all: unset;
    display:inline-block;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    height: 70%;
    width: fit-content;
}

.svg-content {
    user-select: none;
    height: 100%;
}

[data-theme=dark] .svg-content {
    filter: invert(100%) sepia(88%) saturate(475%) hue-rotate(233deg) brightness(120%) contrast(79%);
}

nav #theme-switcher, nav #nav-toggle {
    background:none;
    outline: none;
    border:none;
    color: var(--text);
    font-size: x-large;
    cursor: pointer;
}

nav #nav-toggle {
    display: none;
}

.wrapper {
    height: 100%;
    padding: 0 2em;
}

.content.col-reverse * {
    direction: ltr;
}

.content {
    margin: 0 auto;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    max-width: var(--max-content-width);
    row-gap: 5em;
}

.content-left {
    place-content: flex-start;
    place-items: flex-start;
}

.content.col-1 {
    grid-template-columns: 1fr;
}

.content.content-w-sidecol {
    grid-template-columns: 1fr 3fr;
}

.content.auto-col {
    grid-template-columns: repeat(auto-fit, 30rem);
    overflow-x: hidden;
    gap: 1em;
    align-items: normal;
    align-content: normal;
}

.content .join-row {
    grid-column: 1/-1;
}

.content.content-block {
    display:block;
    margin: 0 auto;
}

.content.col-reverse {
    direction: rtl;
}

.content.no-gap {
    gap:0;
}

.content.no-grid {
    display:blocK;
    margin: 0 auto;
}

.content-header {
    padding: 6rem 0 0;
}

.text-section {
    width: 100%;
    padding-left: 5rem;
}

.text-section .heading {
    margin: 2em 1em;
}

.text-section .heading~a{
    margin-left: .7em;
}

.text-section h1, .text-section h3 {
    margin-top: .2em;
    margin-bottom: .2em;
}

footer {
    height: 100%;
    max-width: var(--max-header-width);
    width: 100%;
    margin: 0 auto;
}

footer .footer-content {
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

 footer .footer-content div {
    height: 3em;
    display: flex;
    align-items: center;
    gap: 1em;
}

footer .footer-content div a {
    text-decoration: underline;
}

#about-section, #about-section + * {
    margin-top: 7rem;
}

.low-opacity {
    opacity: .6;
}

.mt-p5 {
    margin-top: .5em;
}

.border-top {
    border-top: 2px solid var(--text);
    padding: .5em 1em
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.round {
    border-radius: 9999999px;
}

.glowing-border {
    border: 6px solid var(--primary);
    -webkit-box-shadow: 0px 0px 23px 5px var(--primary); 
    box-shadow: 0px 0px 25px 5px var(--primary);
}

.primary.primary.primary {
    color: var(--primary);
    font-weight: bold;
}

.noselect {
    user-select: none;
}

.underline {
    text-decoration: underline;
}

.project-card {
    width: 30rem;
    display:grid;
    grid-template-columns: 1fr 3fr;
    justify-content: left;
    padding: 1em .5em;
    align-items: normal;
    column-gap: 1em;
}

.project-card:hover {
    background-color: var(--static1);
}

.project-image {
    width: 8rem;
    align-self: normal;
    margin-top: 1.5em;
    justify-self: center;
}

.project-info h3, .project-info h3 a {
    margin-bottom: 8px;
}

.project-info:hover h3, .project-info:hover a {
    color: var(--primary);
}

.project-info p {
    margin-top: 8px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
}

.tag.tag.tag {
    padding: .5em 1em;
    background-color: var(--text);
    color: var(--background);
    border-radius: 99999px;
    font-size: var(--font-size--small);
    user-select: none;
}

a.tag.tag.tag {
    cursor: pointer;
}

.tag.tag.tag.active {
    background-color: var(--primary);
    color: var(--white);
}

.width-100 {
    width: 100%;
}

.place-top {
    place-content: flex-start;
    place-items: flex-start;
}

#topics-nav {
    padding-left: 1em;
}
#topics-nav .project-tags {
    margin-top: 2em;
}

#topics-nav > h2 {
    margin-bottom: 0;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

button.nobutton {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text);
    font-size: var(--font-size--default);
}

.rss-icon {
    font-size: 30px;
    text-decoration: none !important;
    vertical-align: bottom;
}

@media screen and (max-width: 1017px) {

    .image-section img {
        width: 85%;
        max-width: 400px;
        max-height: 400px;
        height: auto;
        margin: 0 auto;
        display: block
    }

    #title-carousel {
        display:block;
    }
}

@media screen and (max-width: 776px) {

    #title-carousel {
        display:inline;
    }

    .content {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center !important;
    }

    #blogpost-list {
        row-gap: 0;
        padding-top: 0;
    }

    #topics-nav {
        align-self: end;
        padding-bottom: 1em;
    }

    #blogpost-list .topics-list {
        display: flex;
    }

    #blogpost-list .topics-list .project-tags {
        margin-top: 0;
        margin-left: 1em;
    }

    #topics-nav .project-tags {
        margin-top: 1em;
    }

    .text-section {
        padding-left: 0;
        font-size: var(--font-size--large);
        width: 22ch;
    }

    .text-section .heading~a{
        margin-left: 1em;
    }

    #about-section, #about-section + * {
        margin-top: 0rem;
    }

    #about-section {
        max-width: 60ch;
    }
}

/*mobile layout*/
@media screen and (max-width: 580px) {

    nav {
        position: sticky;
        top: 0;
        z-index: 900;
        background-color: var(--secondary);
    }

    #menu-links {
        z-index: 9999;
        display: block;
        position: fixed;
        right: 0;
        top: var(--nav-height);
        bottom: 0;
        left: 100%;
        padding: 0 2em;
        background-color: var(--secondary);
        transition: left ease-in-out 500ms;
        margin: 0;
    }

    #menu-links.active {
        left: 0;
    }

    #menu-links a {
        display:block;
        margin-bottom: 1em;
        font-size: var(--font-size--medium);
    }

    nav #nav-toggle {
        display: inline;
    } 
    
    .content {
        row-gap: 1em;
    }

    .badge-list {
        font-size: var(--font-size--small);
    }

    .content-header {
        padding: 1rem 0;
    }

    .project-card {
        width: 100%;
        display: block;
        padding: .5em 1em;
    }

    .project-image {
        margin: 0 auto;
        display: block;
        width: 100%;
        object-fit: cover;
        max-height: 10em;
    }

    .mobile-padding-top {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .foot-dot {
        display:none;
    }

    #mail-link {
        display: none;
    }
}

@media screen and (max-width: 370px) {

    .text-section {
        width: auto;
    }

    .text-section .heading h1 {
        font-size: var(--font-size--large);
    }
    .text-section .heading h3 {
        font-size: var(--font-size--default);
    }
    

    .footer-content div:first-child {
        display: block;
    }

    .footer-content div:first-child span:first-child{
        display: block;
    }

}
@media screen and (max-width: 260px) {
    #rss-link {
        display: none;
    }
}

.contact-link {
    font-size: var(--font-size--large);
    text-decoration: underline;
    display:flex;
    align-items: center;
    gap: 1em;
}

.badge {
    background-color: var(--static1);
    padding: .5em 1em;
    line-height: 3em;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);
    user-select: none;
}

.badge-list {
    user-select: none;
}

.b-green {
    background-color: #86cd2a;
    color: black !important;
}

.b-blue {
    background-color: var(--accent);
    color: var(--white) !important;
}

.b-violet {
    background-color: #4e2acd;
    color: var(--white) !important;
}

.b-orange {
    background-color: #cd992a;
    color: black !important;
}

.b-yellow {
    background-color: yellow;
    color: black !important;
}

.b-turquoise {
    background-color: #2acd8c;
    color: black !important;
}