<article class="content col-1 no-gap">
    <h1 class="text-center mobile-padding-top">Get in touch with me</h1>
    <p><a class="contact-link" href="mailto:alex@alexmiha.de"><img width="80" height="80" class="svg-content" src="images/email.svg"> alex@alexmiha.de</a></p>
</article>