<article class="content col-1 no-gap">
    <h1 class="text-center mobile-padding-top">Get in touch with me</h1>
    <p><a class="contact-link"><img width="80" height="80" class="svg-content" src="/images/email.svg"> <span><span></span>c<span></span>o<span></span>n<span></span>t<span></span>a<span></span>c<span></span>t<span></span>@<span></span>a<span></span>l<span></span>e<span></span>x<span></span>m<span></span>i<span></span>h<span></span>a<span></span>.<span></span>d<span></span>e<span></span></span></a></p>
</article>