<article class="content no-grid text-center content-header">
    <h1 class="text-center">Impressum</h1>
    <p>Alexander Hagl<br>
    Günzenhausen 4b<br>
    84072 Au-Hallertau</p>
    <h3>Kontakt</h3>
    <p><a class="underline" href="mailto:alex@hagl.de">alex@hagl.de</a></p>
</article>